*{
    margin:0px;
    padding: 0px;
}
.main{
    width: 100%;
    height: 100vh;
    background: url(media/a1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Poppins;
}
.overlay{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.overlay .title{
    color: #fff;
    text-align: center;
    margin-top: 1rem;
    font-size: 2.5rem;
}
.col{
    margin-top: 100px;
    height: 100px;
    width: 800px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    color: #fff;
}
.col div{
    width: 200px;
    text-align: center;
    /* background-color: yellow; */
    text-align: center;
}
.col input{
    /* display: block; */
    width: 50%;
    background: rgba(255, 255, 255, 0.7);
    height: 50px;
    border-radius: 5px;
    border: transparent;
    text-align: center;
    font-size: 25px;
}